<div class="indiv-page-title-container">
  <div class="indiv-page-title">
    <h1 class="generic-title">List of all destinations</h1>
    <h2 class="generic-title">List of all Cities</h2>
    <form method="get" action='/search'>
      <label for="search">Search</label>
      <input
      type="text"
      name="search"
      id="search"
      value=""
      />
      <input type="submit" value="Search">
    </form>
  </div>
</div>

<div class="generic-container-list">

  <% @all_locations.each do |item| %>
    <div class="generic-list generic-list-text generic-list-background">
      <h3 class="item-text">
        <%= item.city.name %>
        <%if item.visited == "t" %>
        -- Visited
        <%else%>
        -- Not Visited
        <%end%>
      </h3>

      <%if item.visited == "f" %>
        <form method="post" action="/visited-city/<%=item.id%>">
          <input name="visited"  type="submit" value="Visited">
        </form>
      <%else%>
        <form method="post" action="/not-visited-city/<%=item.id%>">
          <input name="visited"  type="submit" value="Not Visited">
        </form>
      <% end %>
      <form method="get" action="/edit-city/<%=item.id%>">
        <input name="visited"  type="submit" value="Edit">
      </form>

      <form method="post" action="/delete/<%=item.id%>">
        <input name="visited"  type="submit" value="Delete">
      </form>
    </div>
  <% end %>
</div>

<div class="indiv-page-title-container">
  <div class="indiv-page-title">
    <h2>List of all Countries</h2>
  </div>
</div>
<div class="generic-container-list">
  <% @all_countries.each do |country| %>
    <div class="generic-list generic-list-text generic-list-background">
      <h3 class="item-text">
        <%= country.name %>
      </h3>
      <form method="get" action="/edit-country/<%=country.id%>">
        <input name="visited"  type="submit" value="Edit">
      </form>
    </div>
    <% end %>
  </div>
