
<div class="main-page-container">
  <div class="main-page-item">
    <h2> Cities Visited: <%= @visited_cities.count %> </h2>
    <h2> Countries Visited: <%= @visited_countries.count %> </h2>
    <h2> Cities to Visit: <%= @not_visited_cities.count %> </h2>
    <h2> Countries Visited: <%= @not_visited_countries.count %> </h2>
  </div>

    <%@visited_cities.each do |item| %>

      <%if item.city.photo_loc %>
        <div class="main-page-item">
          <img class="main-page-image" src="<%=item.city.photo_loc%>"/>
        </div>
      <%end%>

    <%end%>

</div>
