<div class="indiv-page-title-container">
  <div class="indiv-page-title">
    <h1>Not Visited - Locations</h1>
  </div>
</div>


  <div class="generic-container-list">
    <% @not_visited.each do |item| %>
      <div class="generic-list generic-list-text generic-list-background">
        <%if item.city.photo_loc %>
          <img class="location-image" src="<%=item.city.photo_loc%>" />
        <%end%>
        <h3 class="item-text"><%=item.city.name%> - <%= item.city.country.name %></h3>
        <form method="post" action="/visited-city/<%=item.id%>">
          <input name="visited"  type="submit" value="Visited">
        </form>
        <form method="get" action="/upload_image/<%=item.id%>">
          <input name="upload"  type="submit" value="Add an image">
        </form>
      </div>
    <% end %>
  </div>
